
body{
    background-image:url("sonic06.jpeg");
    text-align: center;
    background-size:cover;
}

#user_name{
    margin-top:25%;
    font-size:40px;
    border-radius:20px;
    background-color:rgba(255,255,255,0);
    border-width: 0px;
    color:white
}

#login_button{
    font-size:40px;
    border-radius: 20px;
}